<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">WELCOME TO SONGS OF WAR ROLEPLAY</span>
        <span id="welcomeDescription">We are a group of individual fans of Songs of War who are working to recreate this universe in a minecraft server so all of us could enjoi it and create our own stories. Our server is actually still in developpement but we are all doing our all to give you the best Song of War experience that we can. We are a fan group and are not affiliated with squared media the creators of SoW in any way.</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from Songs Of War Roleplay.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>